
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;500;600;700&display=swap");

body {
    background-image: url("https://cdn.pixabay.com/photo/2018/03/17/19/36/connection-3234929_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "Radio Canada", sans-serif;
    text-align: center;

  }
  
/* Enter your styling here */

.container{
  display: inline-block;
  margin-top: 20px;
}

h1{
  font-size: 36px;
}

.board{
  display: grid;
  grid-template-columns: repeat(3,100px);
  grid-gap: 5px;
  background-color: #;
  padding: 5px;
  border-radius: 5px;
}

.cell{
  width: 100px;
  height: 100px;
  background-color: aliceblue;

}
